body {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.login {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: red;
}
